<section class="site-section latest-container">
    <div *ngIf="latest" class="latest">
        <div class="latest-item card text-cases">
            <h3>Infections</h3>
            <span class="latest-value">{{latest.Confirmed}}</span>
        </div>
        <div class="latest-item card text-deaths">
            <h3>Deaths</h3>
            <span class="latest-value">{{latest.Deaths}}</span>
        </div>
        <div class="latest-item card text-recoveries">
            <h3>Recoveries</h3>
            <span class="latest-value ">{{latest.Recovered}}</span>
        </div>
    </div>
</section>
